@model int

<div class="main-container">
  <div id="box" class="circ">
    <div class="load">Loading . . . </div>
    <div class="hands"></div>
    <div class="body"></div>
    <div class="head">
      <div class="eye"></div>
    </div>
  </div>
  <div id="box2" class="result">
    <div>
      <p>Great effort on finishing the exam! Whether the result is what you hoped for or not, every experience is a
        chance to learn and improve. Stay positive, set new goals, and keep pushing forward. Your dedication is
        commendable, and success is a journey, not a single destination. Keep up the good work! </p>
      <h3>Your Score:</h3>
      <h4>@Model</h4>
    </div>
    <img src="~/images/results_img.png" />
  </div>
</div>
<script>
  setTimeout(() => {
    const box = document.getElementById('box');
    box.style.display = 'none';
  }, 5000);
  setTimeout(() => {
    const box = document.getElementById('box2');
    box.style.display = 'flex';
  }, 5000); 
</script>

@section PageStyle {
  <link rel="stylesheet" href="~/css/StudentAnswerSubmit.css">
}